<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>滑动开关以启用/禁用自定义颜色</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>label</key>
			<string>工作日</string>
			<key>default</key>
			<integer>0</integer>
			<key>defaults</key>
			<string>tonyli.lunarcalendar.widget</string>
			<key>key</key>
			<string>weekdayTextColor</string>
			<key>set</key>
			<string>setCustomizeWeekdayTextColor:forSpecifier:</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>label</key>
			<string>周末</string>
			<key>default</key>
			<integer>0</integer>
			<key>key</key>
			<string>weekendTextColor</string>
			<key>defaults</key>
			<string>tonyli.lunarcalendar.widget</string>
			<key>set</key>
			<string>setCustomizeWeekendTextColor:forSpecifier:</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>label</key>
			<string>当天</string>
			<key>key</key>
			<string>todayTextColor</string>
			<key>default</key>
			<string>0</string>
			<key>defaults</key>
			<string>tonyli.lunarcalendar.widget</string>
			<key>set</key>
			<string>setCustomizeTodayTextColor:forSpecifier:</string>
		</dict>
	</array>
	<key>title</key>
	<string>自定义颜色</string>
</dict>
</plist>
