<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Hint: 双击日历可回到今天</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>视图设置</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>default</key>
			<integer>1</integer>
			<key>defaults</key>
			<string>tonyli.lunarcalendar.widget</string>
			<key>key</key>
			<string>viewType</string>
			<key>set</key>
			<string>setViewType:forSpecifier:</string>
			<key>validValues</key>
			<array>
				<integer>2</integer>
				<integer>0</integer>
				<integer>1</integer>
			</array>
			<key>validTitles</key>
			<array>
				<string>日视图</string>
				<string>周视图</string>
				<string>月视图</string>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>布局设置</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>label</key>
			<string>一周首日</string>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>default</key>
			<integer>7</integer>
			<key>key</key>
			<string>firstDayOfWeek</string>
			<key>defaults</key>
			<string>tonyli.lunarcalendar.widget</string>
			<key>PostNotification</key>
			<string>tonyli.lunarcalendar.widget.pref.fow</string>
			<key>validTitles</key>
			<array>
				<string>周日</string>
				<string>周一</string>
				<string>周二</string>
				<string>周三</string>
				<string>周四</string>
				<string>周五</string>
				<string>周六</string>
			</array>
			<key>validValues</key>
			<array>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
				<integer>6</integer>
				<integer>7</integer>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>id</key>
			<string>layoutStyleSpecifier</string>
			<key>label</key>
			<string>月视图布局</string>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>default</key>
			<integer>0</integer>
			<key>key</key>
			<string>layoutStyle</string>
			<key>defaults</key>
			<string>tonyli.lunarcalendar.widget</string>
			<key>validValues</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
			</array>
			<key>validTitles</key>
			<array>
				<string>紧凑视图</string>
				<string>宽松视图</string>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>升级</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>购买Pro版</string>
			<key>action</key>
			<string>buyPro</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>关于</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSTextViewTableCell</string>
			<key>get</key>
			<string>widgetVersion</string>
			<key>label</key>
			<string>版本</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSTitleValueCell</string>
			<key>label</key>
			<string>新浪微博 / Twitter</string>
			<key>get</key>
			<string>username</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSListItemCell</string>
			<key>label</key>
			<string>意见反馈</string>
			<key>action</key>
			<string>feedback</string>
		</dict>
	</array>
	<key>title</key>
	<string>中国农历</string>
</dict>
</plist>
