<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>0101</key>
	<string>春节</string>
	<key>0115</key>
	<string>元宵</string>
	<key>0505</key>
	<string>端午</string>
	<key>0707</key>
	<string>七夕</string>
	<key>0715</key>
	<string>中元</string>
	<key>0815</key>
	<string>中秋</string>
	<key>0909</key>
	<string>重阳</string>
	<key>1208</key>
	<string>腊八</string>
	<key>1223</key>
	<string>小年</string>
	<key>1230</key>
	<string>除夕</string>
</dict>
</plist>
